package tomei
{{ if eq .hostname "darwin2" }}
import "tomei.terassyi.net/presets/aqua"

darwin2Tools: aqua.#AquaToolSet & {
	metadata: name: "darwin2-tools"
	spec: tools: {
		ffmpeg: {package: "Tyrrrz/FFmpegBin", version: "8.0.1"}
	}
}

// ttyd: web terminal (darwin2 only, via Homebrew)
ttyd: {
	apiVersion: "tomei.terassyi.net/v1beta1"
	kind:       "Tool"
	metadata: name: "ttyd"
	spec: {
		installerRef: "brew"
		version:      "latest"
		package:      "ttyd"
	}
}
{{ end -}}
